{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ nama }}</a>
    <a href="{% url 'wishlist:logout' %}">
      <button type="button" class="btn btn-primary">
        Logout
      </button>
    </a>
  </div>
</nav>

<div class="container mt-4">
<table class="table">
  <thead class="table-light">
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
  </thead>
  {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
  {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
  {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

{% endblock content %}
